<div class = "col-1"></div><!--Three Column Layout for side photos, will fill in later-->
<div class = "col-2">
    <a href="/new-character-1"><button>New Character</button></a>
</div>
<div class= "col-3"></div>